
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All listings.</h1>
    <ul>
        <% for(let list of listings){ %>
            <li> <%= list.title %> </li>
            <p> <%= list.description %> </p>
            <a href="/listings/<%=list.id%>">View</a>
    
        <% } %>

    </ul>
   
    
</body>
</html>