<%- layout("/layouts/boilerplate") %>

<body>
    <form action="/listings" method="post">
        <div class="newform">
            <div>
                <input name="listing[title]" placeholder="Enter Title" >
            </div>
            <div>
                <textarea name="listing[description]" placeholder="Enter Description" ></textarea>
            </div>
            <div>
                <input name="listing[price]" placeholder="Enter Price" >
            </div>
            <div>
                <input name="listing[location]" placeholder="Enter Location" >
            </div>
            <div>
                <input name="listing[country]" placeholder="Enter Country" >
            </div>
            <div>
                <button>Create</button>
            </div>  
            
        </div>
    </form>
   
    
</body>