<%- layout("/layouts/boilerplate") %>

<body>
    <form action="/listings" method="post">
        <input name="listing[title]" placeholder="Enter Title" >
        <input name="listing[description]" placeholder="Enter Description" >
        <input name="listing[price]" placeholder="Enter Price" >
        <input name="listing[location]" placeholder="Enter Location" >
        <input name="listing[country]" placeholder="Enter Country" >
        <button>Create</button>
    </form>
   
    
</body>