
.navbar{
    /* height: 5rem !important; */
    background-color: white;
    
}
.rye-regular {
    font-family: "Rye", serif !important;
    font-weight: 400;
    font-style: normal;
  }
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: rgba(0, 0, 0, 0.89) !important;
}

footer  {
    text-align: center;
    height: 6rem;
    width: 100%;
    background-color: light !important;
    padding-top: 2rem;
}

footer > div{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

footer > div > a{
    color: #fe424d;
    font-weight: 500;
    margin-left: 20px;
}

.card{
    border: none;
    transition: transform 1s ease-in-out 0.1s;
}

.card-img-top{
    border-radius: 1rem;
    width: 100%;
    height: 15rem;
}
.card-body{
    padding:0;
}

.anchor{
    text-decoration: none;
}

.card-img-overlay{
opacity: 0.2;
}

.card-main:hover{
    opacity:0.9;
    transform: scale(1.03);
    /* background-color: white; */
}
.card-main:hover .card-img-overlay{
    opacity: 0.8;
}

.card-details{
    width: 500px;
    height: 400px;

}